.cards-wrapper {
  width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #09FFA6;

  .card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 20px;
    border-radius: 5px;
    background: #DBFFB0;
    color: rgba(0,0,0,.87);
    height: auto;
    min-height: 300px;

    .card-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .card-buttons-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
